body {
	background-color: lightgray ;
	margin: 10px ;
}

h1{
	text-align: center ;
	letter-spacing: 10px;
	font-size: 300% ;
	font-family:sans-serif ;
}

.titulo{
	background-color: grey ;
	text-align: left;
	font-size: 40px;
	color: white ;
}

.parrafo{
	padding: 0% 10% 1% 10% ;

}
.rojo{
	color: red;
}
.resaltado{
	background-color: white;

}
.foto1{
	float: left;
	width: 106;
	height: 150;
	margin: 0% 10% 10% 0% ;
}
.foto2{
	width: 106;
	height: 150;
	margin: 0% 10% 10% 0%;
	position: absolute;
	top: 410px;
	left: 20px;
}